.body {
  font-family: 'Inconsolata', monospace;
}

.image {
  margin-top: 10px;
}

.section {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  min-height: 100vh;
}


.tabs {
  min-height: 100px;
  margin-top: 10px;
}